.resizeImage1{
	width: 40px;
	height: 40px;
	float: right;
}
.resizeImage2{
	width: 80px;
	height: 40px;
}
.imageResizeProfile{
	width: 100px;
	height: 100px;
}

.rezizeImageBorder{
	width: 30px;
	border-width: 10px;
    border-radius: 50px;
}
.resizeProfile{
	width: 150px;
	border-width: 10px;
    border-radius: 70px;
}
.resizeImagePost{
	width: 30px;
	border-radius: 50px;
}
.div_Possition{
	width: 500px; 
	margin: 0 auto; 
}
.div_PossitionProfile{
	width: 700px; 
	margin: 0 auto;
}
.postImageSize{
	width: 500px;
	height: 600px;
	padding: 20px;
}
.p1{
	font-weight: normal;
	font-size: 13px;
}
.linkColor{
	color: black;
}

.spanFont{
	font-weight: bold;
	font-size: 13
}
.resizedTextbox {
	width: 370px; 
	font-size: 13px; 
	font-weight: normal; 
	border-style: none;
}
.resizedTextboxSearch {
	width: 200px; 
	font-size: 13px; 
	font-weight: normal; 
	border-style: normal;
}
.resizeImage1{
	width: 30px;
	height: 30px;

}
.resizeImage2{
	width: 90px;
	height: 60px;
}
.linkFormat{
	color: black; 
	font-weight:normal;
	font-size: 12px;
}
.postContainer{
	
	position: fixed;
	width: 500px;
	margin: 60%;

}
.textLeft{
	float:left;
}
.textRight{
	float: right;
}
.spanBold{
	font-weight: bold;
}
.resizeApp{
	width: 80px;
	height: 40px;
}
.resizeGoogle{
	width: 100px;
	height: 50px;
}
.paragraphPadding{
	padding-top: 10px;
}
.imageLeft{
	float: left;
}