<<<<<<< HEAD

.resizeImage1{
	width: 40px;
	height: 40px;
	float: right;

}
.resizeImage2{
	width: 80px;
	height: 40px;
}
.rezizeImageBorder{
	width: 30px;
	border-width: 10px;
    border-radius: 50px;
}
.resizeImagePost{
	width: 30px;
	border-radius: 50px;
}
.div_Possition{
	width: 500px; 
	margin: 0 auto; 
}
.postImageSize{
	width: 500px;
	height: 600px;
	padding: 20px;
}
.p1{
	font-weight: normal;
	font-size: 13px;

}
.linkColor{
	color: black;
}

.spanFont{
	font-weight: bold;
	font-size: 13
}
.resizedTextbox {
	width: 370px; 
	font-size: 13px; 
	font-weight: normal; 
	border-style: none;
}
=======
.resizeImage1{
	width: 20px;
	height: 20px;
}
.resizeImage2{
	width: 60px;
	height: 30px;
}
>>>>>>> bf14bb386236d5a33b0ae4aac8ea455f72408ad3
